body {
  font-family: sans-serif;
}

h1 {
    font-weight: bold;
}

@media (min-width: 480px) {
    body {
        font-size: 2vw;
        max-width: 60vmax;
        margin-left: 20vw;
    }
    h1 {
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 4vw;
        max-width: 45vmax;
        margin-left: 10vw;
    }

    h1 {
        font-size: 8vw;
    }
}

.justsometext {
    line-height: 1.2em;
}


